/* 13714C 3AB67D A2E494 E9EBED */

body {
    background: #13714c;
    margin: 0px;
}
.title {
    text-align: center;
    color: #E9EBED;
    width:100vw;
}
.img-div {
    text-align: center;
    background-color: #A2E494;
    border-radius: 25px;
    padding: 20px;
    margin: 75px;

}
.button-div {
    text-align: center;
}